[submodule "data/mosesdecoder"]
	path = data/mosesdecoder
	url = https://github.com/sliedes/mosesdecoder.git
	branch = no_lang_specific
[submodule "data/subword-nmt"]
	path = data/subword-nmt
	url = https://github.com/sliedes/subword-nmt
